@import url('reset.css');

body {
font:.8em Arial, sans-serif;
}

.video {

width:600px;
height:450px;
background:orange;
}

.small_video {
width:150;
height:113px;
}

.question_statement {
font-size:1.5em;
padding:5px;
text-align:center;
}

#abc {
width:600px;
height:450px;
background:green;
}