@import url('reset.css');

ul, li {
list-style:none;
}

body {
font:.8em Arial, sans-serif;
margin:0;
}

ul {
border-bottom:1px solid #000;
}

li {
border-top:1px solid #000;
}

input.long {
width:200px;
}