@import url('reset.css');

body {
background:url('../images/background.png') repeat-x;
font:.8em Arial, sans-serif;
}

p.big {
font-size:1.4em;
}

p.big a:link, p.big a:visited {
text-decoration:underline;
}

p.big a:hover {
text-decoration:none;
}

#message {
top:0;
left:500px;
width:100px;
position:absolute;
background:orange;
display:none;
}
.hide {
display:none;
}
.highlight {
background:yellow;
}

h2 {
font-size:2em;
}

#tutorial_status {
font-size:1.25em;
}

strong {
font-weight:bold;
}

#tutorial {
float:left;
width:400px;
height:300px;
}

#rightsidebar {
font-size:.9em;
}

#tutorial p {
font-size:1.3em;
}
#example_code {
/* margin-left:410px; */
width:390px;
  height:300px;
}

#arduino_code {
/* margin-left:410px; */
width:390px;
  height:300px;
}

#nav {
height:21px;
}

#nav a:link, #nav a:visited, #nav span {
color:#FFF;
line-height:21px;
height:21px;
display:block;
float:left;

margin-right:10px;
}

#clear {
clear:both;
}

#nav a:hover, #nav span {
background:url('../images/nav_hover.png') bottom left repeat-x;
}

h1 {
height:37px;
background:url('../images/h1.png') no-repeat;
width:128px;
}

h1 a:link, h1 a:visited {
display:block;
height:37px;
width:128px;
}

h1 span {
display:none;
}

#wrapper {
width:800px;
margin:0 auto;
text-align:left;
}

#sidebar {
float:right;
width:200px;
}

#subnav a:link, #subnav a:visited {
display:block;
padding:5px;
background:#000;
color:#FFF;
margin-bottom:1px;
}

#subnav a:hover {
background:#000 url('../images/nav_hover.png') bottom left repeat-x;
}

#subnav ul a:link, #subnav ul a:visited {
padding-left:10px;
font-size:.89em;
}

#subnav ul a:hover {
background:#000 url('../images/subsubnav_hover.png') bottom left repeat-x;
}

#account_nav {
padding-top:12px;
color:#252525;
float:right;
}

#right_col {
float:right;
width:390px;
}

#code {
width:390px;
height:600px;
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}

.speed_button {
background:#FFF;
border:1px solid #252525;
}


#account_nav a:link, #account_nav a:visited {
color:#252525;
text-decoration:underline;
}

#account_nav a:hover {
text-decoration:none;
}

#content {
padding-top:10px;
}

.break {
height:10px;
}

#lessons_form {
border-collapse:collapse;

}

#lessons_form th {
background:#dcdcdc;
}

#lessons_form .big {
width:227px;
}

#lessons_form .small {
width:150px;
}

#lessons_form th, #lessons_form td {
text-align:left;
padding:5px;
border:1px solid #ccc;
vertical-align:top;
width:100%;
}

p, h2, h3, #main_selectors, table {
margin-bottom:10px;
}

.track {
width:67px;
height:50px;
border:1px solid #252525;
float:left;
margin:0 10px 10px 0;
}

.track:hover, .selected_track, .selected_speed_button, .speed_button:hover {
border-color:#c70000;
}

h2, h3 {
font-weight:bold;
}

h2 span, h3 span {
color:#a40101;
}

h2 {
font-size:1.5em;
}

h3 {
font-size:1.2em;
}

#array_generator_table
{
border-collapse:collapse;
}

#array_generator_table th, #array_generator_table td {
border:1px solid #000;
width:15px;
height:15px;
}

#array_generator_table td:hover, #array_generator_table .on_cell {
background:red;
}

#cmd_status, #serial_monitor {
max-height:200px;
overflow:auto;
}

#flash_error
{
background:red;
width:100%;
height:100%;
position:fixed;
top:0;
right:0;
font-size:2em;
display:none;
}

table {
border-collapse:collapse;
width:100%;
display:block;
}



th, td {
border:1px solid #ccc;
padding:5px;
text-align:left;
}

th { 
background:#dcdcdc;
font-weight:bold;
text-align:left;
}

.column {
float:left;
width:192px;
}

#left_sidebar, #middle_left_sidebar, #middle_right_sidebar {
margin-right:10px;
}

a.category:link, a.category:visited {
background:#000;
margin-bottom:10px;
color:#FFF;
height:50px;
display:block;
}
