{% extends "base.html" %}
{% block content %}
<h2>Marketplace for companies</h2>
<div id="left_sidebar" class="column">
<h3>Pick what you need</h3>
{% for category in categories %}
<a href="" class="category">{{ category }}</a>
{% endfor %}
</div>
<div id="middle_left_sidebar" class="column">
<h3>Companies</h3>
<ul>
{% for company in companies %}
<li>{{ company }}</li>
{% endfor %}
</ul>
</div>
<div id="middle_right_sidebar" class="column">
<h3>Inviduals</h3>
</div>
<div id="right_sidebar" class="column">
<h3>Get involved in an idea</h3>
</div>
{% endblock %}