<html>
<head>
<title>{{ course.title }} Admin</title>
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type='text/javascript' src='/js/jQuery.tubeplayer.min.js'></script>
<script type="text/javascript" src="/js/course_admin.js"></script>

<link rel="stylesheet" type="text/css" href="/css/course_admin.css" />
</head>
<body>
<form>
Course title: <input type="text" value="{{ course.title }}" />
<ul>
{% for lesson in course.get_lessons %}
<li>{{ lesson.order }}. <input type="text" value="{{ lesson.title }}" class="long" />
<table>
<tr><th>Video id:</th><td><input type="text" value="{{ lesson.get_video_id }}" /></td></tr>
<tr><th>Question:</th><td><textarea>{{ lesson.get_question }}</textarea></td></tr>
</table>
</li>
{% endfor %}
</ul>
</form>
</body>
</html>