<html>
<head>
<title>{{ course.title }} Admin</title>
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
<script type='text/javascript' src='/js/jQuery.tubeplayer.min.js'></script>
<script type="text/javascript" src="/js/course_admin.js"></script>

<link rel="stylesheet" type="text/css" href="/css/course_admin.css" />
</head>
<body>
<div id="new_lesson" class="hide">
<div style="float:right">
<input type="button" lesson="" value="Delete lesson" class="delete_lesson">
<input type="button" value="Append new lesson" class="append_new_lesson">
<input type="button" value="Prepend new lesson" class="prepend_new_lesson">
</div>
<!--<input type="text" name="lesson__title" value="" class="lesson_title long" />-->
<table>
<tr><th>Video id:</th><td><input type="text" name="lesson__video_id" value="" class="lesson_video_id" /></td></tr>
<tr><th>Content type:</th><td><select class="content_type">
<option value="youtube_id">Youtube id</option>
<option value="text">Text</option>
<option value="image">Image</option>
</select></td></tr>
<tr><th>Content:</th><td><textarea value="" class="lesson_content"></textarea></td></tr>
<tr><th></th><td>
<div style="float:right"><input type="button" value="Delete question" class="delete_question" />
<input type="button" value="Append question" class="append_question" />
<input type="button" value="Prepend question" class="prepend_question" /></div>
<table class="question_box"><tr><th>Question:</th>
<td><textarea name="lesson__question_" class="question"></textarea></td></tr>
<tr><td colspan="2">Type out the possible choices and select the ones required to get the question correct</td></tr>
<tr><th>Answer:</th><td>

<div class="answer_choices">


</div>
<input type="button" value="Add answer choice" class="add_answer_choice" lessonorder="" qaorder="" />
</td></tr>

</table>
</td></tr>
</table>

</div>

<div id="reload_course"><iframe src="http://robocademy.com{{ course.get_url }}" width="560" height="315"></iframe></div>
<div class="textalignright"><input type="text" id="title_of_new_course"/><input type="button" value="Create course" id="create_course" />
<select id="switch_course"><option>Switch course</option>
{% for course in users_courses %}

<option value="{{ course.get_admin_url }}">{{ course.title }}</option>
{% endfor %}
</select>
</div>
<textarea style="width:100%"><iframe src="http://robocademy.com{{ course.get_url }}" width="560" height="315"></iframe></textarea>
<form>
<input type="button" id="save" value="Save (CTRL-S)" style="float:right" />Course title: <input id="course_title" type="text" name="course_title" value="{{ course.title }}" />
<ol>{% if course.get_lessons %}
{% for lesson in course.get_lessons %}
<li id="lesson_{{ lesson.order }}"><div style="float:right">
<input type="button" lesson="{{ lesson.id }}" value="Delete lesson" class="delete_lesson">
<input type="button" value="Append new lesson" class="append_new_lesson">
<input type="button" value="Prepend new lesson" class="prepend_new_lesson">
</div>
<!--<input type="text" name="lesson_{{ lesson.order }}_title" value="{{ lesson.title }}" class="lesson_title long" />-->
<table>
<tr><th>Video id:</th><td><input type="text" name="lesson_{{ lesson.order }}_video_id" value="{{ lesson.get_video_id }}" class="lesson_video_id" /></td></tr>
{% if lesson.get_questions %}
{% for question in lesson.get_questions %}
<tr><th></th><td>
<div style="float:right"><input type="button" value="Delete question" class="delete_question" />
<input type="button" value="Append question" class="append_question" />
<input type="button" value="Prepend question" class="prepend_question" /></div>
<table class="question_box"><tr><th>Question:</th>
<td><textarea name="lesson_{{ lesson.order }}_question_{{ question.order }}" class="question">{{ question.question }}</textarea></td></tr>
<tr><td colspan="2">Type out the possible choices and select the ones required to get the question correct</td></tr>
<tr><th>Answer:</th><td>

<div class="answer_choices">
{% for x in question.answer_choices %}
<span>
<input class="answer" name="lesson_{{ lesson.order }}_question_{{ question.order }}_answer_{{ x.order }}" type="checkbox"{% if x.id in question.answer_ids %} checked{% endif %}/> 
<input type="text" name="lesson_{{ lesson.order }}_question_{{ question.order }}_answer_choice_{{ x.order }}" value="{{ x.value }}"  class="answer_choice" />
<input type="button" value="X" class="delete_answer_choice" /><br/>
</span>

{% endfor %}

</div>
<input type="button" value="Add answer choice" class="add_answer_choice" lessonorder="{{ lesson.order }}" qaorder="{{ question.order }}" />
</td></tr>

</table>
{% endfor %}
{% else %}
<tr><th></th><td>
<div style="float:right"><input type="button" value="Delete question" class="delete_question" />
<input type="button" value="Append question" class="append_question" />
<input type="button" value="Prepend question" class="prepend_question" /></div>
<table class="question_box"><tr><th>Question:</th>
<td><textarea name="lesson_{{ lesson.order }}_question_{{ question.order }}" class="question">{{ question.question }}</textarea></td></tr>
<tr><td colspan="2">Type out the possible choices and select the ones required to get the question correct</td></tr>
<tr><th>Answer:</th><td>

<div class="answer_choices">
<span>
<input class="answer" name="lesson_{{ lesson.order }}_question_{{ question.order }}_answer_{{ x.order }}" type="checkbox"{% if x.id in question.answer_ids %} checked{% endif %}/> 
<input type="text" name="lesson_{{ lesson.order }}_question_{{ question.order }}_answer_choice_{{ x.order }}" value="{{ x.value }}"  class="answer_choice" />
<input type="button" value="X" class="delete_answer_choice" /><br/>
</span>


</div>
<input type="button" value="Add answer choice" class="add_answer_choice" lessonorder="{{ lesson.order }}" qaorder="{{ question.order }}" />
</td></tr>

</table>
{% endif %}
</td></tr>
</table>
</li>
{% endfor %}
{% else %}



<li id="lesson_{{ lesson.order }}"><div style="float:right">
<input type="button" lesson="{{ lesson.id }}" value="Delete lesson" class="delete_lesson">
<input type="button" value="Append new lesson" class="append_new_lesson">
<input type="button" value="Prepend new lesson" class="prepend_new_lesson">
</div>
<!--<input type="text" name="lesson_{{ lesson.order }}_title" value="{{ lesson.title }}" class="lesson_title long" />-->
<table>
<tr><th>Video id:</th><td><input type="text" name="lesson_{{ lesson.order }}_video_id" value="{{ lesson.get_video_id }}" class="lesson_video_id" /></td></tr>

<tr><th></th><td>
<div style="float:right"><input type="button" value="Delete question" class="delete_question" />
<input type="button" value="Append question" class="append_question" />
<input type="button" value="Prepend question" class="prepend_question" /></div>
<table class="question_box"><tr><th>Question:</th>
<td><textarea name="lesson_{{ lesson.order }}_question_{{ question.order }}" class="question">{{ question.question }}</textarea></td></tr>
<tr><td colspan="2">Type out the possible choices and select the ones required to get the question correct</td></tr>
<tr><th>Answer:</th><td>

<div class="answer_choices">


</div>
<input type="button" value="Add answer choice" class="add_answer_choice" lessonorder="{{ lesson.order }}" qaorder="{{ question.order }}" />
</td></tr>

</table>
</td></tr>
</table>
</li>
{% endif %}
</ol>
</form>
</body>
</html>