<html>
<head>
<title>{{ course.title }} Admin</title>
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
<script type='text/javascript' src='/js/jQuery.tubeplayer.min.js'></script>
<script type="text/javascript" src="/js/course_admin.js"></script>

<link rel="stylesheet" type="text/css" href="/css/course_admin.css" />
</head>
<body>
<form>
<input type="button" id="save" value="Save (CTRL-S)" style="float:right" />Course title: <input type="text" name="course_title" value="{{ course.title }}" />
<ul>
{% for lesson in course.get_lessons %}
<li><div style="float:right"><input type="button" value="Delete lesson"><input type="button" value="Append new lesson"><input type="button" value="Prepend new lesson"></div>
{{ lesson.order }}. <input type="text" name="lesson_{{ lesson.order }}_title" value="{{ lesson.title }}" class="long" />
<table>
<tr><th>Video id:</th><td><input type="text" name="lesson_{{ lesson.order }}_video_id" value="{{ lesson.get_video_id }}" /></td></tr>
<tr><th>Question:</th><td><textarea name="lesson_{{ lesson.order }}_question">{{ lesson.get_question }}</textarea></td></tr>
<tr><td colspan="2">Type out the possible choices and select the ones required to get the question correct</td></tr>
<tr><th>Answer:</th><td>
<div class="answer_choices">
{% for x in lesson.get_answer_choices %}
<input name="lesson_{{ lesson.order }}_answer_{{ x.order }}" type="checkbox"{% if x.id in lesson.get_answer_ids %} checked{% endif %}/> <input type="text" name="lesson_{{ lesson.order }}_answer_choice_{{ x.order }}" value="{{ x.value }}" /><br/>
{% endfor %}
</div>
<input type="button" value="Add answer choice" class="add_answer_choice" order="{{ lesson.order }}" />
</td></tr>
</table>
</li>
{% endfor %}
</ul>
</form>
</body>
</html>