
<html>
<head>
<title>Robocademy</title>
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/js/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/js/jquery.ui.position.js"></script>
<script type="text/javascript" src="/js/flash_detect_min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/js/home.js"></script>

<link rel="stylesheet" type="text/css" href="/css/home_screen.css" />
</head>
<body>
<a href="/courses/arduino_expert/" class="big_click" id="play">Play</a>
<div id="video_box"></div>
<a href="" class="big_click" id="play">Learn</a>
<!--
<p id="instructions">Click on the red box.</p>
<input type="text" id="command" style="width:400px;" />
<br/>Type: <span class="highlight">turn on light</span> </p></div> --><!--Where it says <span class="highlight">void loop()</span> between <span class="highlight">{</span> and <span class="highlight">}</span> type <span class="highlight">LedSign::Set(6, 5, 1);</span><div id="tutorial_status"></div></div>-->
<!--

<script>
//alert(FlashDetect.installed);
if(!FlashDetect.installed){
    showFlashError();       
	}

</script>
<div id="video">
<script type="text/javascript">var embedBaseUrl = 'http://www.operationcloud.tv/';var embedChannelId = 104;var embedSize = [425, 351];var embedAutoplay = true;</script><script type="text/javascript" src="http://www.operationcloud.tv/assets/js/embed.js"></script>

</div>
-->
</body>
</html>