{% extends "base.html" %}
{% block content %}
<div id="message"></div>
<!--<p>This web page lets you learn how to program a real Arduino over the internet.</p>-->
<div id="main_selectors">
Device: <select>
<option>Arduino</option>
</select>
Configuration: <select>
<option>Red lights</option>
</select>
Lesson: <select id="select_lesson">
{% for lesson in lessons %}
<option value="{{ lesson.id }}">{{ lesson.order }}. {{ lesson.name }}</option>
{% endfor %}
</select>
</div>
{% if user.is_staff %}
<form id="lessons_form"></form>
{% endif %}
<div class="clear"></div>
<div id="tutorial"><!--<h2>Lesson 1: Turn on a red light</h2>--><p id="instructions" style="font-size:3em; line-height:3.2em;">Click on the red box.<br/><input type="text" id="command_box" style="width:100%; border:10px solid red; font-size:50px; height:80px;" /><br/>Type: <span class="highlight">turn on light</span> </p></div> <!--Where it says <span class="highlight">void loop()</span> between <span class="highlight">{</span> and <span class="highlight">}</span> type <span class="highlight">LedSign::Set(6, 5, 1);</span><div id="tutorial_status"></div></div>-->

<div class="clear"></div>

<script>
//alert(FlashDetect.installed);
if(!FlashDetect.installed){
    showFlashError();       
	}

</script>
<div id="video">
<!--<object type="application/x-shockwave-flash" data="http://www.justin.tv/widgets/live_embed_player.swf?channel=robocademy" style="margin:10px 0;" id="live_embed_player_flash" height="300" width="400" bgcolor="#000000"><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.justin.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.justin.tv&channel=robocademy&auto_play=true&start_volume=0" /></object>-->
<script type="text/javascript">var embedBaseUrl = 'http://www.operationcloud.tv/';var embedChannelId = 104;var embedSize = [425, 351];var embedAutoplay = true;</script><script type="text/javascript" src="http://www.operationcloud.tv/assets/js/embed.js"></script>

</div>
{% endblock %}