<html>
<head>
<title>Robocademy</title>
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/js/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/js/jquery.ui.position.js"></script>
<script type="text/javascript" src="/js/flash_detect_min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/js/home.js"></script>

<link rel="stylesheet" type="text/css" href="/css/new_interface.css" />
</head>
<body>

<div id="right_sidebar" class="sidebar">
<div id="video">
<script type="text/javascript">var embedBaseUrl = 'http://www.operationcloud.tv/';var embedChannelId = 106;var embedSize = [200, 165];var embedAutoplay = true;</script><script type="text/javascript" src="http://www.operationcloud.tv/assets/js/embed.js"></script>
</div>
</div>
<div id="left_sidebar" class="sidebar">

</div>
<div id="center">
<div id="header">Device: <select>
<option>Arduino</option>
</select>
Configuration: <select>
<option>Red lights</option>
</select> Lesson: <select>
<option>1. Turn on red light</option>
</select></div>
<div id="bottom">
<div id="" id="code"></div>
<input type="button" value="Upload code to device (CTRL-U)" id="upload_code" />
<div id="" id="output"></div>
</div>
</div>
<!--<div id="video2">
<script type="text/javascript">var embedBaseUrl = 'http://www.operationcloud.tv/';var embedChannelId = 106;var embedSize = [200, 165];var embedAutoplay = true;</script><script type="text/javascript" src="http://www.operationcloud.tv/assets/js/embed.js"></script>
</div>-->
</body>
</html>